version: '3.8'

services:
  db:
    image: postgis/postgis:15-3.3-alpine
    container_name: satellite_tracker_db
    restart: always
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: satellite_tracker
    ports:
      - "5432:5432"
    volumes:
      - ./pgdata:/var/lib/postgresql/data

  redis:
    image: redis:alpine
    container_name: satellite_tracker_redis
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - ./redisdata:/data

volumes:
  pgdata:
  redisdata:
